.page_login {
  overflow: hidden;
  // background-color: #ccc;
  padding-top: 10%;

  .login_form {
    margin: auto;
    max-width: 400px;
    padding: 0rem 2rem 5rem 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

    .row_login {
      margin-top: 8px;
    }

    .merchant_type {
      .ant-form-item-label {
        top: -6px;
      }

      .ant-form-item-control {
        margin-left: 6px;
        margin-top: 10px;
      }
    }

    .ant-form-item-explain.ant-form-item-explain-error {
      font-size: 10px;
    }

    .login-form-forgot {
      float: right;
    }

    input {
      height: 2.8em;
      -webkit-appearance: none;
      background-color: #f5f6f7;
      background-image: none;
      border-radius: 7px;
      border: none;
      box-sizing: border-box;
      color: #363f44;
      display: inline-block;
      font-size: inherit;
      line-height: 2.5em;
      outline: none;
      padding: 0 15px;
      padding-bottom: 15px;
      padding-top: 30px;
      transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
      width: 100%;
    }

    .ant-input-password, .ant-input-password:hover {
      height: 3.3em;
      -webkit-appearance: none;
      background-color: #f5f6f7;
      background-image: none;
      border-radius: 7px;
      border: none;
      box-sizing: border-box;
      color: #363f44;
      font-size: inherit;
      line-height: 2.5em;
      outline: none;
      padding: 0 15px;
      transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
      width: 100%;

      input {
        height: 2.8em;
        -webkit-appearance: none;
        background-color: #f5f6f7;
        background-image: none;
        border-radius: 7px;
        border: none;
        box-sizing: border-box;
        color: #363f44;
        display: inline-block;
        font-size: inherit;
        line-height: 2.5em;
        outline: none;
        padding-bottom: 15px;
        padding-top: 30px;
        transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
        width: 100%;
      }
    }
  }

  .is-floating-label {
    .ant-form-item {
      position: relative;
    }

    .ant-form-item-label {
      position: absolute;
      left: 0.5em;
      top: 0.5em;
      font-size: .75rem;
      background-color: transparent;
      z-index: 5;
      font-weight: 700;

      label {
        font-size: 10px;
      }
    }
  }
}

.page_info {
  background-color: #ccc;
  height: 100vh;
}

.uscel-page {
  .logo {
    padding-top: 20px;
    padding-left: 20px;
  }

  .uscel-button {
    background: #457B9D;
    border-color: #457B9D;
  }

  .uscel-button:hover {
    background: #457B9D !important;
    opacity: 0.8;
    border-color: #457B9D;
  }

  .page_info {
    height: 100vh;

    .page_img {
      width: 100%;
    }

    .container {
      color: white;
      padding: 20px;

      h1 {
        color: white;
        font-size: 40px;
        line-height: 40px;
      }

      p {
        margin-top: 18px;
        max-width: 450px;
      }
    }
  }
}

.vcs-page {

  .logo {
    padding-top: 20px;
    padding-left: 20px;
  }

  .vcs-button {
    background: #ef4747;
    border-color: #ef4747;
  }

  .vcs-button:hover {
    background: #ef4747 !important;
    opacity: 0.8;
    border-color: #ef4747;
  }

  .page_info {
    background-color: #0f1422;
    height: 100vh;

    .page_img {
      width: 100%;
    }

    .container {
      color: white;
      padding: 20px;

      h1 {
        color: white;
        font-size: 40px;
        line-height: 40px;
      }

      p {
        margin-top: 18px;
        max-width: 450px;
      }
    }
  }
}

.logo-vcs {
  display: inline-block;
  background-image: url("../../assets/images/logo_vcs_black.svg");
  width: 54.5px;
  height: 49px;
  background-size: 100% 100%;
}

.logo-vcs-white {
  display: inline-block;
  background-image: url("../../assets/images/logo_vcs_white.svg");
  width: 54.5px;
  height: 49px;
  background-size: 100% 100%;
}
